@charset "UTF-8";

@media screen and (min-width: 769px) and (max-width: 1024px){
    span#burguer{
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li{
        display: inline-block;
    }    
}

@media screen and (min-width: 1025px) {
    span#burguer{
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li{
        display: inline-block;
    }

    main{
        width: 850px;
    }
    
}